Repository o3de/o3de, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-testing-reviewers, @o3de/sig-core-reviewers, @o3de/sig-core-maintainers, @o3de/sig-content-maintainers, @o3de/sig-build-reviewers, @o3de/sig-build-maintainers

.github/CODEOWNERS:

/cmake/LYTestWrappers.cmake @o3de/sig-testing-reviewers

/Code/Framework/AzTest @o3de/sig-testing-reviewers
/Code/Tools/AzTestRunner/ @o3de/sig-testing-reviewers

/o3de/pytest.ini @o3de/sig-testing-reviewers
/o3de/AutomatedTesting/Gem/PythonTests/editor_test_testing/ @o3de/sig-testing-reviewers
/o3de/scripts/ctest/ @o3de/sig-testing-reviewers

/Tools/LyTestTools/ @o3de/sig-testing-reviewers
# This is being deprecated.
/Tools/RemoteConsole/ @o3de/sig-testing-reviewers

# SIG-Core areas of ownership
/Code/CrashHandler/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzCore/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzGameFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzToolsFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/LauncherUnified/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/engine.json @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/CrashReporting/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/ImGui/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/LmbrCentral/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Profiler/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Registry/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/o3de/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/o3de.* @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Templates/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Tools/EventLogTool/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers

# SIG-Core deprecated areas of ownership
/cmake/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Legacy/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Tools/SerializeContextTools/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/SerializeContextAnalysis.bat @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Tools/SerializeContextAnalyzer/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers

# SIG-Core temporary areas of ownership. Will be moved to SIG-Simulation when that group is created
/AutomatedTesting/Gem/PythonTests/Blast @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/AutomatedTesting/Gem/PythonTests/NvCloth @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/AutomatedTesting/Gem/PythonTests/Physics @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Blast/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/NvCloth/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/PhysX/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/PhysXDebug/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers

# SIG-Content Asset Pipeline ownership area
/AutomatedTesting/Gem/PythonTests/assetpipeline/ap_fixtures/ @o3de/sig-content-maintainers
/AutomatedTesting/Gem/PythonTests/assetpipeline/asset_processor_tests/ @o3de/sig-content-maintainers
/AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/ @o3de/sig-content-maintainers
/AutomatedTesting/Gem/PythonTests/PythonAssetBuilder/ @o3de/sig-content-maintainers
/Code/Tools/AssetBundler/ @o3de/sig-content-maintainers
/Code/Tools/AssetProcessor/ @o3de/sig-content-maintainers
/Code/Tools/SceneAPI/ @o3de/sig-content-maintainers
/Gems/SceneProcessing/ @o3de/sig-content-maintainers

# SIG-Build areas of ownership
/cmake/Platform/ @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/cmake/Packaging/ @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/cmake/Packaging* @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/scripts/build/ @o3de/sig-build-reviewers @o3de/sig-build-maintainers
/scripts/commit_validation/ @o3de/sig-build-maintainers
/scripts/license_scanner/ @o3de/sig-build-maintainers
/scripts/signer/ @o3de/sig-build-maintainers

updated test tools for MaterialEditor support, need hydra.test_output() binding to complete the remainder of the work
  AutomatedTesting/Gem/PythonTests/Atom/TestSuite_Main.py
  AutomatedTesting/Gem/PythonTests/Atom/tests/MaterialEditor_Atom_LaunchMaterialEditor.py
  AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/utils.py
  Tools/LyTestTools/ly_test_tools/launchers/launcher_helper.py
  Tools/LyTestTools/ly_test_tools/launchers/platforms/win/launcher.py
  Tools/LyTestTools/ly_test_tools/o3de/editor_test.py
Owners: @o3de/sig-testing-reviewers

WIP, iterating on fixing up the reflection adapter
  Code/Framework/AzFramework/AzFramework/DocumentPropertyEditor/Reflection/LegacyReflectionBridge.cpp
  Code/Framework/AzFramework/AzFramework/DocumentPropertyEditor/ReflectionAdapter.cpp
  Code/Framework/AzQtComponents/AzQtComponents/DPEDebugViewStandalone/main.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/DPEDebugViewer/DPEDebugModel.cpp
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Fix missing log messages in console window
  Gems/AtomLyIntegration/ImguiAtom/Code/Source/DebugConsole.cpp
  Gems/AtomLyIntegration/ImguiAtom/Code/Source/DebugConsole.h
Owners: none

Fix extra new lines in debug text view
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/DPEDebugViewer/DPEDebugTextView.cpp
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Fixing asset reloading not updating prefab
  Code/Framework/AzFramework/AzFramework/Spawnable/Script/SpawnableScriptAssetRef.cpp
  Code/Framework/AzFramework/AzFramework/Spawnable/Script/SpawnableScriptAssetRef.h
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Refactoring
  Code/Framework/AzFramework/AzFramework/Spawnable/Script/SpawnableScriptAssetRef.cpp
  Code/Framework/AzFramework/AzFramework/Spawnable/Script/SpawnableScriptAssetRef.h
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Fix includes
  Gems/TestAssetBuilder/Code/Source/Builder/TestIntermediateAssetBuilderComponent.cpp
Owners: none

Fix crash in low end render pipeline caused by feature processors not getting added
  Gems/Atom/Feature/Common/Assets/Passes/LowEndRenderPipeline.azasset
Owners: none

Error checking for invalid ProductOutputFlags
  AutomatedTesting/TestAssets/test1.intersource
  AutomatedTesting/TestAssets/test10.intersource
  AutomatedTesting/TestAssets/test2.intersource
  AutomatedTesting/TestAssets/test6.stage2output
  Code/Tools/AssetProcessor/native/resourcecompiler/rcjob.cpp
Owners: @o3de/sig-content-maintainers

Ignore the control curve object that falsely identified as meshes
  Code/Tools/SceneAPI/SceneBuilder/Importers/AssImpImporterUtilities.cpp
  Code/Tools/SceneAPI/SceneBuilder/Importers/AssImpImporterUtilities.h
  Code/Tools/SceneAPI/SceneBuilder/Importers/AssImpMeshImporter.cpp
  Code/Tools/SceneAPI/SceneBuilder/Importers/Utilities/AssImpMeshImporterUtilities.cpp
Owners: @o3de/sig-content-maintainers

Remove accidentally added files
  AutomatedTesting/TestAssets/test1.intersource
  AutomatedTesting/TestAssets/test10.intersource
  AutomatedTesting/TestAssets/test2.intersource
  AutomatedTesting/TestAssets/test6.stage2output
Owners: none

bugfix: resolve tab order problem with component window for propertyAssetCtrl
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/PropertyEditor/PropertyAssetCtrl.cpp
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Added the PipelineViewTag to the ReflectionComposite pass in the EnvironmentCubeMapPipeline
  Gems/Atom/Feature/Common/Assets/Passes/EnvironmentCubeMapPipeline.pass
Owners: none

Added benchmarks for adding and removing nested prefabs
  Code/Framework/AzToolsFramework/Tests/Prefab/Benchmark/Propagation/PropagationBenchmarkFixture.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Benchmark/Propagation/PropagationBenchmarkFixture.h
  Code/Framework/AzToolsFramework/Tests/Prefab/Benchmark/Propagation/SingleInstanceMultipleEntityBenchmarks.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Benchmark/Propagation/SingleInstanceMultipleEntityBenchmarks.h
  Code/Framework/AzToolsFramework/Tests/Prefab/Benchmark/Propagation/SingleInstanceMultipleNestedInstancesBenchmarks.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Benchmark/Propagation/SingleInstanceMultipleNestedInstancesBenchmarks.h
  Code/Framework/AzToolsFramework/Tests/aztoolsframeworktests_files.cmake
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers
