Repository o3de/o3de, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-testing-reviewers, @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

.github/CODEOWNERS:

/cmake/LYTestWrappers.cmake @o3de/sig-testing-reviewers

/Code/Framework/AzTest @o3de/sig-testing-reviewers
/Code/Tools/AzTestRunner/ @o3de/sig-testing-reviewers

/o3de/pytest.ini @o3de/sig-testing-reviewers
/o3de/AutomatedTesting/Gem/PythonTests/editor_test_testing/ @o3de/sig-testing-reviewers
/o3de/scripts/ctest/ @o3de/sig-testing-reviewers

/Tools/LyTestTools/ @o3de/sig-testing-reviewers
# This is being deprecated.
/Tools/RemoteConsole/ @o3de/sig-testing-reviewers

# SIG-Core areas of ownership
/Code/LauncherUnified/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Tools/AssetProcessor/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/CrashHandler/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzCore/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzGameFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Framework/AzToolsFramework/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/CrashReporting/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/LmbrCentral/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Profiler/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/Prefab/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Gems/ImGui/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Registry/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Templates/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Tools/EventLogTool/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/cmake/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/o3de/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/scripts/o3de.* @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/engine.json @o3de/sig-core-reviewers @o3de/sig-core-maintainers
# SIG-Core deprecated areas of ownership
/Code/Legacy/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Tools/SerializeContextAnalyzer/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/SerializeContextAnalysis.bat @o3de/sig-core-reviewers @o3de/sig-core-maintainers
/Code/Tools/SerializeContextTools/ @o3de/sig-core-reviewers @o3de/sig-core-maintainers

Added logic to disable the product menu for source assets with no products.
  Code/Tools/AssetProcessor/native/ui/MainWindow.cpp
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Fixed and registered parallel editor integ tests to ctest
  AutomatedTesting/Gem/PythonTests/editor_test_testing/CMakeLists.txt
  AutomatedTesting/Gem/PythonTests/editor_test_testing/TestSuite_Main.py
  Tools/LyTestTools/ly_test_tools/o3de/editor_test.py
  Tools/LyTestTools/ly_test_tools/o3de/editor_test_utils.py
Owners: @o3de/sig-testing-reviewers

Horizontal splitter now works on the assets tab
  Code/Tools/AssetProcessor/native/ui/MainWindow.ui
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Fix various build issues related to Lua IDE conversion change
  Code/Framework/AzCore/AzCore/Settings/SettingsRegistry.h
  Code/Framework/AzCore/AzCore/Settings/SettingsRegistryImpl.cpp
  Code/Framework/AzCore/AzCore/Settings/SettingsRegistryImpl.h
  cmake/LYWrappers.cmake
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers

Fixing test scripts and hidden viewport settings panel
  AutomatedTesting/Gem/PythonTests/Atom/atom_utils/material_editor_utils.py
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportSettingsInspector.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportSettingsSystem.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportToolBar.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportWidget.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Window/AtomToolsMainWindow.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.h
  Gems/Atom/Tools/MaterialEditor/Code/Source/Window/MaterialEditorMainWindow.cpp
  Gems/Atom/Tools/MaterialEditor/Code/Source/Window/MaterialEditorMainWindow.h
  Gems/Atom/Tools/MaterialEditor/Scripts/GenerateAllMaterialScreenshots.py
Owners: none

Switching from mesh component bus to bounds bus to get local and world bounds
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/EntityPreviewViewport/EntityPreviewViewportWidget.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportWidget.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasViewportWidget.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasViewportWidget.h
  Gems/Atom/Tools/MaterialEditor/Code/Source/Window/MaterialEditorViewportWidget.cpp
  Gems/Atom/Tools/MaterialEditor/Code/Source/Window/MaterialEditorViewportWidget.h
Owners: none

Removing .slice file Updating C156464 to remove .pak level file and replace it with .prefab level.
  AutomatedTesting/Gem/PythonTests/assetpipeline/asset_processor_tests/asset_processor_gui_tests.py
  AutomatedTesting/Gem/PythonTests/assetpipeline/asset_processor_tests/assets/C1564064/C1564064.scriptcanvas
  AutomatedTesting/Gem/PythonTests/assetpipeline/asset_processor_tests/assets/C1564064/C1564064_level.zip
  AutomatedTesting/TestAssets/DependencyScannerAsset.slice
Owners: none

Remove superfluous LuaIDE Platform definitions
  Code/Tools/LuaIDE/Platform/Common/Unimplemented/Source/StandaloneApplication_Unimplemented.cpp
  Code/Tools/LuaIDE/Platform/Linux/lua_ide_linux_files.cmake
  Code/Tools/LuaIDE/Platform/Mac/Source/StandaloneApplication_Mac.cpp
  Code/Tools/LuaIDE/Platform/Mac/lua_ide_mac_files.cmake
Owners: none

Add stub platform lua ide cmake files
  Code/Tools/LuaIDE/Platform/Linux/lua_ide_linux_files.cmake
  Code/Tools/LuaIDE/Platform/Mac/lua_ide_mac_files.cmake
Owners: none

address feedback
  Gems/GraphCanvas/Code/StaticLib/GraphCanvas/Widgets/NodePalette/Model/NodePaletteSortFilterProxyModel.cpp
Owners: none

Consolidate default category name for behavior context node
  Gems/ScriptCanvas/Code/Editor/View/Widgets/NodePalette/NodePaletteModel.cpp
Owners: none

Address feedback
  Gems/ScriptCanvas/Code/Editor/View/Widgets/NodePalette/NodePaletteModel.cpp
Owners: none

Fixed an issue with entity sort order component and added unit tests
  Code/Framework/AzToolsFramework/AzToolsFramework/Entity/EditorEntityModel.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Entity/EditorEntityModel.h
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Instance/Instance.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Instance/Instance.h
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Instance/InstanceSerializer.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Instance/InstanceToTemplatePropagator.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabPublicHandler.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Instance/InstanceDeserializationTests.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabInstanceToTemplatePropagatorTests.cpp
  Code/Framework/AzToolsFramework/Tests/UI/EntityOutlinerTests.cpp
Owners: @o3de/sig-core-reviewers, @o3de/sig-core-maintainers
