Repository o3de/o3de, pull requests merged in 2021-10, with the labels that each got.

#4332 Archive Component - Rewrite and additional work on Archive and Asset Bundler
  Assets/Engine/SeedAssetList.seed
  AutomatedTesting/AutomatedTesting_Dependencies.xml
  Code/Framework/AzCore/AzCore/IO/Streamer/Scheduler.cpp
  Code/Framework/AzCore/AzCore/Jobs/Internal/JobManagerWorkStealing.cpp
  Code/Framework/AzCore/AzCore/Task/TaskExecutor.cpp
  Code/Framework/AzCore/AzCore/std/parallel/thread.h
  Code/Framework/AzCore/Platform/Common/UnixLike/AzCore/std/parallel/internal/thread_UnixLike.h
  Code/Framework/AzCore/Platform/Common/WinAPI/AzCore/std/parallel/internal/thread_WinAPI.h
  Code/Framework/AzCore/Tests/AZStd/Parallel.cpp
  Code/Framework/AzCore/Tests/Memory.cpp
  Code/Framework/AzFramework/AzFramework/Application/Application.cpp
  Code/Framework/AzFramework/AzFramework/Archive/Archive.cpp
  Code/Framework/AzFramework/AzFramework/Archive/INestedArchive.h
  Code/Framework/AzFramework/AzFramework/Archive/NestedArchive.cpp
  Code/Framework/AzFramework/AzFramework/Archive/NestedArchive.h
  Code/Framework/AzFramework/AzFramework/Archive/ZipDirCache.cpp
  Code/Framework/AzFramework/AzFramework/Archive/ZipDirCacheFactory.cpp
  Code/Framework/AzFramework/AzFramework/Archive/ZipDirCacheFactory.h
  Code/Framework/AzFramework/AzFramework/Archive/ZipDirList.cpp
  Code/Framework/AzFramework/AzFramework/Archive/ZipDirStructures.h
  Code/Framework/AzFramework/AzFramework/Network/AssetProcessorConnection.cpp
  Code/Framework/AzFramework/AzFramework/TargetManagement/TargetManagementComponent.cpp
  Code/Framework/AzNetworking/AzNetworking/Utilities/TimedThread.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Archive/ArchiveAPI.h
  Code/Framework/AzToolsFramework/AzToolsFramework/Archive/ArchiveComponent.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Archive/ArchiveComponent.h
  Code/Framework/AzToolsFramework/AzToolsFramework/Archive/NullArchiveComponent.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Archive/NullArchiveComponent.h
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBundle/AssetBundleComponent.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBundle/AssetBundleComponent.h
  Code/Framework/AzToolsFramework/Platform/Linux/AzToolsFramework/Archive/ArchiveComponent_Linux.cpp
  Code/Framework/AzToolsFramework/Platform/Linux/platform_linux_files.cmake
  Code/Framework/AzToolsFramework/Platform/Mac/AzToolsFramework/Archive/ArchiveComponent_Mac.cpp
  Code/Framework/AzToolsFramework/Platform/Mac/platform_mac_files.cmake
  Code/Framework/AzToolsFramework/Platform/Windows/AzToolsFramework/Archive/ArchiveComponent_Windows.cpp
  Code/Framework/AzToolsFramework/Platform/Windows/platform_windows_files.cmake
  Code/Framework/AzToolsFramework/Tests/ArchiveTests.cpp
  Code/Framework/GridMate/GridMate/Carrier/Carrier.cpp
  Code/Framework/GridMate/GridMate/Carrier/SocketDriver.cpp
  Code/Tools/AssetBundler/source/models/SeedListTableModel.cpp
  Code/Tools/AssetProcessor/AssetBuilder/AssetBuilderComponent.cpp
  Code/Tools/AssetProcessor/native/tests/AssetCatalog/AssetCatalogUnitTests.cpp
  Code/Tools/AssetProcessor/native/utilities/AssetServerHandler.cpp
  Code/Tools/RemoteConsole/Core/RemoteConsoleCore.cpp
  Gems/Atom/RHI/Code/Source/RHI/AsyncWorkQueue.cpp
  Gems/Atom/RHI/Code/Source/RHI/CommandQueue.cpp
  Gems/Atom/RHI/Code/Source/RHI/Fence.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/Shader/ShaderVariantAsyncLoader.cpp
  Gems/AudioSystem/Code/Source/Engine/AudioSystem.cpp
  Gems/BarrierInput/Code/Source/BarrierInputClient.cpp
  Gems/HttpRequestor/Code/Source/HttpRequestManager.cpp
  Gems/LmbrCentral/Code/Source/Builders/LevelBuilder/LevelBuilderWorker.cpp
  Gems/Microphone/Code/Source/Platform/Windows/MicrophoneSystemComponent_Windows.cpp
  Gems/PhysX/Code/Tests/PhysXMultithreadingTest.cpp
  Gems/SaveData/Code/Source/SaveDataSystemComponent.cpp
  Tools/7za.exe
  Tools/7za_legal_notice.txt
Labels: kind/api-change, pr-ready-to-merge, sig/core, kind/enhancement, feature/sdk

#4418 [Android] Fix black screen on Android when app is launched
  Code/Framework/AzCore/AzCore/Settings/SettingsRegistryMergeUtils.cpp
  cmake/Tools/Platform/Android/android_support.py
Labels: pr-ready-to-merge

#4285 NetworkTransformComponent replicates local transform for child entities
  Gems/Multiplayer/Code/Include/Multiplayer/Components/NetworkTransformComponent.h
  Gems/Multiplayer/Code/Source/Components/NetworkTransformComponent.cpp
  Gems/Multiplayer/Code/Tests/CommonHierarchySetup.h
  Gems/Multiplayer/Code/Tests/MultiplayerSystemTests.cpp
  Gems/Multiplayer/Code/Tests/NetworkTransformTests.cpp
  Gems/Multiplayer/Code/multiplayer_tests_files.cmake
Labels: sig/network

#4431 Move handshake check to connection data
  Code/Framework/AzNetworking/AzNetworking/AutoGen/AutoPacketDispatcher_Inline.jinja
  Gems/Multiplayer/Code/Include/Multiplayer/ConnectionData/IConnectionData.h
  Gems/Multiplayer/Code/Source/ConnectionData/ClientToServerConnectionData.h
  Gems/Multiplayer/Code/Source/ConnectionData/ClientToServerConnectionData.inl
  Gems/Multiplayer/Code/Source/ConnectionData/ServerToClientConnectionData.h
  Gems/Multiplayer/Code/Source/ConnectionData/ServerToClientConnectionData.inl
  Gems/Multiplayer/Code/Source/Editor/MultiplayerEditorConnection.h
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.cpp
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.h
  Gems/Multiplayer/Code/Tests/NetworkTransformTests.cpp
Labels: sig/network

#4466 First google benchmarks for hierarchy components.
  Gems/Multiplayer/Code/CMakeLists.txt
  Gems/Multiplayer/Code/Include/Multiplayer/Components/NetBindComponent.h
  Gems/Multiplayer/Code/Include/Multiplayer/Components/NetworkHierarchyRootComponent.h
  Gems/Multiplayer/Code/Tests/CommonBenchmarkSetup.h
  Gems/Multiplayer/Code/Tests/ServerHierarchyBenchmarks.cpp
  Gems/Multiplayer/Code/multiplayer_tests_files.cmake
Labels: sig/network

#4496 [SIG-Network] Development build fix for test code
  Gems/Multiplayer/Code/Tests/CommonBenchmarkSetup.h
Labels: sig/network

#4526 Script Canvas: Fixed alignment of variable manager header
  Gems/ScriptCanvas/Code/Editor/View/Widgets/VariablePanel/GraphVariablesTableView.cpp
Labels: sig/ui-ux, status/ux-approved

#4975 Fixes debug console's "quit" issues
  Code/Legacy/CrySystem/ViewSystem/ViewSystem.cpp
  Gems/AtomLyIntegration/AtomViewportDisplayInfo/Code/Source/AtomViewportDisplayInfoSystemComponent.cpp
Labels: sig/core, sig/graphics-audio

#5039 Added "RemovePassTemplate" method.
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/Pass/PassLibrary.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/Pass/PassSystem.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/Pass/PassSystemInterface.h
  Gems/Atom/RPI/Code/Source/RPI.Public/Pass/PassLibrary.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/Pass/PassSystem.cpp
Labels: sig/graphics-audio

#5089 Added two complex prefab tests
  AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/editor_entity_utils.py
  AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/prefab_utils.py
  AutomatedTesting/Gem/PythonTests/Prefab/TestSuite_Main.py
  AutomatedTesting/Gem/PythonTests/Prefab/tests/PrefabComplexWorflow_CreatePrefabInsidePrefab.py
  AutomatedTesting/Gem/PythonTests/Prefab/tests/PrefabComplexWorflow_CreatePrefabOfChildEntity.py
  Code/Editor/CryEdit.cpp
  Code/Framework/AzCore/AzCore/Component/TransformBus.h
  Code/Framework/AzFramework/AzFramework/Components/TransformComponent.cpp
  Code/Framework/AzFramework/AzFramework/Components/TransformComponent.h
Labels: sig/content

#4675 Editor test tools cleanup
  AutomatedTesting/Gem/PythonTests/editor_test_testing/TestSuite_Main.py
  Tools/LyTestTools/ly_test_tools/_internal/pytest_plugin/editor_test.py
  Tools/LyTestTools/ly_test_tools/_internal/pytest_plugin/test_tools_fixtures.py
  Tools/LyTestTools/ly_test_tools/launchers/launcher_helper.py
  Tools/LyTestTools/ly_test_tools/o3de/editor_test.py
  Tools/LyTestTools/ly_test_tools/o3de/editor_test_utils.py
  Tools/LyTestTools/tests/unit/test_editor_test_utils.py
  Tools/LyTestTools/tests/unit/test_o3de_editor_test.py
  Tools/LyTestTools/tests/unit/test_pytest_plugin_editor_test.py
Labels: sig/testing
