Repository o3de/o3de, pull requests merged in 2022-12, with the labels that each got.

#13448 Material Canvas: Moving graph view settings to their own class and adding to settings dialog
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Document/AtomToolsDocumentMainWindow.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/GraphView/GraphView.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/GraphView/GraphViewConfig.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/GraphView/GraphViewConstructPresets.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/GraphView/GraphViewSettings.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/SettingsDialog/SettingsDialog.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Window/AtomToolsMainWindow.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/AtomToolsFrameworkSystemComponent.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Document/AtomToolsDocumentMainWindow.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportToolBar.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/GraphView/GraphView.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/GraphView/GraphViewConstructPresets.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/GraphView/GraphViewSettings.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/SettingsDialog/SettingsDialog.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Window/AtomToolsMainWindow.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/atomtoolsframework_files.cmake
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasGraphView.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasGraphView.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.h
Labels: sig/content, sig/graphics-audio

#13459 Changes required by UX
  Code/Editor/AssetImporter/AssetImporterManager/AssetImporterManager.cpp
  Code/Editor/AssetImporter/AssetImporterManager/AssetImporterManager.h
  Code/Editor/AssetImporter/UI/FilesAlreadyExistDialog.ui
  Code/Editor/AssetImporter/UI/SelectDestinationDialog.cpp
  Code/Editor/AssetImporter/UI/SelectDestinationDialog.ui
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/AssetBrowserModel.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/AssetBrowserModel.h
Labels: sig/content, feature/asset-browser

#13461 Implement BreadCrumbs in AssetBrowser
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.h
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.ui
Labels: sig/content, feature/asset-browser

#13441 Fixing a display error with asset id's sub-id
  Code/Framework/AzCore/AzCore/Asset/AssetCommon.h
  Code/Framework/AzCore/Tests/Asset/AssetCommon.cpp
Labels: feature/asset-pipeline, sig/content

#13319 Prefab - Add new unit tests for delete undo nodes
  Code/Framework/AzToolsFramework/Tests/Prefab/Overrides/PrefabOverrideTestFixture.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Overrides/PrefabOverrideTestFixture.h
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestFixture.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestFixture.h
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabUndoDeleteTests.cpp
  Code/Framework/AzToolsFramework/Tests/aztoolsframeworktests_files.cmake
Labels: sig/content, feature/prefabs

#13466 Add a folder filter for the Asset Browser two column mode
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/SearchWidget.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/SearchWidget.h
Labels: sig/content, feature/asset-browser

#13483 BugFix - Move back override subtree in prefab override revert redo
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Undo/PrefabUndoRevertOverrides.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Overrides/PrefabOverridePublicInterfaceTests.cpp
Labels: kind/bug, sig/content, feature/prefabs

#13270 Fbx test improvements for linux
  AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/assets/Motion/SceneDebug/jack_idle_aim_zup.dbgsg
  AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/assets/cubewithline/SceneDebug/cubewithline.dbgsg
  AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/assets/cubewithline/SceneDebug/cubewithline.dbgsg.xml
  AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/fbx_tests.py
  Code/Tools/SceneAPI/SceneCore/Utilities/DebugOutput.cpp
  Code/Tools/SceneAPI/SceneCore/Utilities/DebugOutput.inl
  Tools/LyTestTools/ly_test_tools/o3de/pipeline_utils.py
  Tools/LyTestTools/tests/unit/test_pipeline_utils.py
Labels: feature/asset-pipeline, sig/content

#13421 Allow for Optional Gem annotations
  cmake/Subdirectories.cmake
  scripts/o3de/o3de/disable_gem.py
  scripts/o3de/o3de/enable_gem.py
  scripts/o3de/o3de/engine_properties.py
  scripts/o3de/o3de/project_manager_interface.py
  scripts/o3de/o3de/project_properties.py
  scripts/o3de/o3de/utils.py
  scripts/o3de/tests/test_project_manager_interface.py
  scripts/o3de/tests/test_utils.py
Labels: sig/core, feature/gems

#13447 Migrate tests to multitest and remove hydra dependencies
  AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/QtPyAssetEditor.py
  AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/QtPyCommon.py
  AutomatedTesting/Gem/PythonTests/scripting/ScriptCanvas_ChangingAssets_ComponentStable.py
  AutomatedTesting/Gem/PythonTests/scripting/ScriptCanvas_TwoComponents_InteractSuccessfully.py
  AutomatedTesting/Gem/PythonTests/scripting/TestSuite_Periodic.py
  AutomatedTesting/Gem/PythonTests/scripting/VariableManager_ExposeVarsToComponent.py
Labels: feature/scripting

#13493 Material Canvas: Separated MaterialCanvasDocument into MaterialGraphCompiler and a configurable GraphDocument
  Gems/Atom/RHI/Code/Include/Atom/RHI/FactoryManagerBus.h
  Gems/Atom/RHI/Code/Source/RHI.Private/FactoryManagerSystemComponent.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNode.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNodeConfig.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNodeManager.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNodeManagerRequestBus.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNodePaletteItem.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNodeSlotConfig.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/DynamicNode/DynamicNodeUtil.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphDocument.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphDocumentRequestBus.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphDocumentView.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphView.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphViewConstructPresets.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphViewSettings.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/AtomToolsFrameworkSystemComponent.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/DynamicNode/DynamicNode.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/DynamicNode/DynamicNodeConfig.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/DynamicNode/DynamicNodeManager.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/DynamicNode/DynamicNodePaletteItem.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/DynamicNode/DynamicNodeSlotConfig.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/DynamicNode/DynamicNodeUtil.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphDocument.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphDocumentView.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphView.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphView.qrc
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphView.qss
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphViewConstructPresets.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphViewSettings.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/atomtoolsframework_files.cmake
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompilerNotificationBus.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompilerRequestBus.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasTestData.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasGraphView.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasViewportContent.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasViewportContent.h
  Gems/Atom/Tools/MaterialCanvas/Code/materialcanvas_files.cmake
  Gems/AtomLyIntegration/CommonFeatures/Code/Source/Material/EditorMaterialSystemComponent.cpp
  Gems/AtomLyIntegration/CommonFeatures/Code/Source/Material/MaterialBrowserInteractions.cpp
Labels: sig/content, sig/graphics-audio

#13521 Simplified material functors to prepare for material pipeline functor support
  Gems/Atom/Feature/Common/Assets/Materials/Types/StandardMultilayerPBR.materialtype
  Gems/Atom/Feature/Common/Code/Source/CommonSystemComponent.cpp
  Gems/Atom/Feature/Common/Code/Source/EditorCommonSystemComponent.cpp
  Gems/Atom/Feature/Common/Code/Source/Material/DrawListFunctor.cpp
  Gems/Atom/Feature/Common/Code/Source/Material/DrawListFunctor.h
  Gems/Atom/Feature/Common/Code/Source/Material/DrawListFunctorSourceData.cpp
  Gems/Atom/Feature/Common/Code/Source/Material/DrawListFunctorSourceData.h
  Gems/Atom/Feature/Common/Code/Source/Material/UseTextureFunctor.cpp
  Gems/Atom/Feature/Common/Code/Source/Material/UseTextureFunctor.h
  Gems/Atom/Feature/Common/Code/Source/Material/UseTextureFunctorSourceData.cpp
  Gems/Atom/Feature/Common/Code/Source/Material/UseTextureFunctorSourceData.h
  Gems/Atom/Feature/Common/Code/atom_feature_common_editor_files.cmake
  Gems/Atom/Feature/Common/Code/atom_feature_common_files.cmake
  Gems/Atom/RPI/Code/Include/Atom/RPI.Edit/Material/MaterialFunctorSourceData.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Edit/Material/MaterialTypeSourceData.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/LuaMaterialFunctor.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialFunctor.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialPropertyDescriptor.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialTypeAssetCreator.h
  Gems/Atom/RPI/Code/Source/RPI.Builders/Material/MaterialTypeBuilder.cpp
  Gems/Atom/RPI/Code/Source/RPI.Edit/Material/MaterialFunctorSourceData.cpp
  Gems/Atom/RPI/Code/Source/RPI.Edit/Material/MaterialPropertyConnectionSerializer.cpp
  Gems/Atom/RPI/Code/Source/RPI.Edit/Material/MaterialTypeSourceData.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/LuaMaterialFunctor.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialFunctor.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialTypeAssetCreator.cpp
  Gems/Atom/RPI/Code/Tests/Material/LuaMaterialFunctorTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialFunctorTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialPropertySerializerTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialPropertyValueSourceDataTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTypeAssetTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTypeSourceDataTests.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.cpp
Labels: sig/graphics-audio

#13527 Material Canvas: Support for automatically opening blank graph on startup
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Document/AtomToolsDocument.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Document/AtomToolsDocumentRequestBus.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Document/AtomToolsDocument.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Document/AtomToolsDocumentMainWindow.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Document/AtomToolsDocumentSystem.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphDocument.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasMainWindow.cpp
  Gems/Atom/Tools/MaterialEditor/Code/Source/Document/MaterialDocument.cpp
  Gems/Atom/Tools/MaterialEditor/Code/Source/Document/MaterialDocument.h
  Gems/Atom/Tools/ShaderManagementConsole/Code/Source/Document/ShaderManagementConsoleDocument.cpp
  Gems/Atom/Tools/ShaderManagementConsole/Code/Source/Document/ShaderManagementConsoleDocument.h
  Gems/Atom/Tools/ShaderManagementConsole/Code/Source/Window/ShaderManagementConsoleWindow.cpp
  Gems/Atom/Tools/ShaderManagementConsole/Code/Source/Window/ShaderManagementConsoleWindow.h
Labels: sig/content, sig/graphics-audio

#13518 Fix IsSubFolder not validating partial is a folder
  Code/Tools/AssetProcessor/native/FileWatcher/FileWatcher.cpp
  Code/Tools/AssetProcessor/native/FileWatcher/FileWatcher.h
  Code/Tools/AssetProcessor/native/unittests/FileWatcherUnitTests.cpp
Labels: feature/asset-pipeline, sig/content

#13526 Material Canvas: Small change starting file for graph related utility functions
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphDocument.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphUtil.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphDocument.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphUtil.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/atomtoolsframework_files.cmake
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.h
Labels: sig/graphics-audio, sig/security

#13370 Metadata Manager - Fix API returning json Value which references deallocated memory
  Code/Framework/AzToolsFramework/AzToolsFramework/Metadata/MetadataManager.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Metadata/MetadataManager.h
  Code/Framework/AzToolsFramework/Tests/MetadataManagerTests.cpp
Labels: feature/asset-pipeline, sig/content

#13543 Disabled Editor / AP tests in monolithic builds - fixes periodic build failure
  AutomatedTesting/Gem/PythonTests/assetpipeline/CMakeLists.txt
Labels: feature/asset-pipeline, sig/content

#13484 Add server closing message when sv_terminateOnPlayerExit is active
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.cpp
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.h
Labels: sig/network

#13566 Fixed pyside2 standalone
  Gems/AtomLyIntegration/TechnicalArt/DccScriptingInterface/Tools/DCC/Blender/addons/readme-moved.md
  Gems/AtomLyIntegration/TechnicalArt/DccScriptingInterface/__init__.py
  Gems/AtomLyIntegration/TechnicalArt/DccScriptingInterface/config.py
Labels: sig/graphics-audio, feature/tech-art

#13523 Pass Editor: Create placeholder project and app based off of MC
  Gems/Atom/Tools/PassCanvas/Assets/PassCanvas/GraphData/blank_graph.passgraphtemplate
  Gems/Atom/Tools/PassCanvas/Assets/PassCanvas/StyleSheet/passcanvas_style.json
  Gems/Atom/Tools/PassCanvas/Assets/PassCanvas/Translation/passcanvas_en_us.ts
  Gems/Atom/Tools/PassCanvas/CMakeLists.txt
  Gems/Atom/Tools/PassCanvas/Code/CMakeLists.txt
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompiler.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompiler.h
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompilerNotificationBus.h
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompilerRequestBus.h
  Gems/Atom/Tools/PassCanvas/Code/Source/PassCanvasApplication.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/PassCanvasApplication.h
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Android/PAL_android.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Android/platform_android_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Linux/PAL_linux.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Linux/platform_linux_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Linux/tool_dependencies_linux.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Mac/PAL_mac.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Mac/platform_mac_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Mac/tool_dependencies_mac.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Windows/PAL_windows.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Windows/PassCanvas.ico
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Windows/PassCanvas.rc
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Windows/platform_windows_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/Windows/tool_dependencies_windows.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/iOS/PAL_ios.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Platform/iOS/platform_ios_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/Icons/application.svg
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/Icons/grid.svg
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/Icons/screenshot.png
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/Icons/shadow.svg
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/Icons/skybox.svg
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/Icons/toneMapping.svg
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvas.qrc
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvasMainWindow.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvasMainWindow.h
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvasViewportContent.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvasViewportContent.h
  Gems/Atom/Tools/PassCanvas/Code/Source/main.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/resource.h
  Gems/Atom/Tools/PassCanvas/Code/passcanvas_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/passcanvas_win_files.cmake
  Gems/Atom/Tools/PassCanvas/Registry/gem_autoload.passcanvas.setreg
  Gems/Atom/Tools/PassCanvas/Registry/layouts.passcanvas.setreg
  Gems/Atom/Tools/PassCanvas/gem.json
  Gems/Atom/Tools/PassCanvas/preview.png
  Gems/Atom/Tools/PassCanvas/preview.svg
  Gems/Atom/gem.json
  Gems/AtomLyIntegration/AtomBridge/Code/CMakeLists.txt
  Gems/AtomLyIntegration/AtomBridge/gem.json
  Gems/AtomLyIntegration/TechnicalArt/DccScriptingInterface/Editor/Scripts/bootstrap.py
  Gems/AtomLyIntegration/TechnicalArt/DccScriptingInterface/__init__.py
Labels: sig/content, sig/graphics-audio

#13540 Made RenderPipeline filter by material pipeline tag
  Gems/Atom/Asset/Shader/Code/Source/Editor/ShaderAssetBuilder.cpp
  Gems/Atom/Feature/Common/Assets/Passes/LowEndRenderPipeline.azasset
  Gems/Atom/Feature/Common/Assets/Passes/MainRenderPipeline.azasset
  Gems/Atom/Feature/Common/Assets/Passes/MultiViewRenderPipeline.azasset
  Gems/Atom/Feature/Common/Assets/Passes/XRLeftRenderPipeline.azasset
  Gems/Atom/Feature/Common/Assets/Passes/XRRightRenderPipeline.azasset
  Gems/Atom/Feature/Common/Code/Source/Mesh/MeshFeatureProcessor.cpp
  Gems/Atom/RHI/Code/Include/Atom/RHI/DrawPacket.h
  Gems/Atom/RHI/Code/Include/Atom/RHI/DrawPacketBuilder.h
  Gems/Atom/RHI/Code/Source/RHI/DrawPacket.cpp
  Gems/Atom/RHI/Code/Source/RHI/DrawPacketBuilder.cpp
  Gems/Atom/RPI/Code/Include/Atom/RPI.Edit/Material/MaterialTypeSourceData.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Edit/Shader/ShaderSourceData.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/Material/Material.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/MeshDrawPacket.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/RenderPipeline.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/Scene.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialAsset.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialFunctor.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialPropertyDescriptor.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialTypeAsset.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialTypeAssetCreator.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/ShaderCollection.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/System/RenderPipelineDescriptor.h
  Gems/Atom/RPI/Code/Source/RPI.Builders/Material/MaterialTypeBuilder.cpp
  Gems/Atom/RPI/Code/Source/RPI.Edit/Material/MaterialTypeSourceData.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/Material/Material.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/MeshDrawPacket.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/RenderPipeline.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/Scene.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/LuaMaterialFunctor.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialAsset.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialFunctor.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialPropertyDescriptor.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialTypeAsset.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialTypeAssetCreator.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/System/RenderPipelineDescriptor.cpp
  Gems/Atom/RPI/Code/Tests/Material/LuaMaterialFunctorTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialFunctorTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTypeAssetTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTypeSourceDataTests.cpp
  Gems/Atom/Tools/ShaderManagementConsole/Code/Source/ShaderManagementConsoleApplication.cpp
  Gems/Atom/Utils/Code/Include/Atom/Utils/ImGuiMaterialDetails.inl
  Gems/AtomLyIntegration/EditorModeFeedback/Code/Source/Draw/EditorStateMeshDrawPacket.cpp
  Gems/Terrain/Code/Source/TerrainRenderer/TerrainFeatureProcessor.cpp
  Gems/Terrain/Code/Source/TerrainRenderer/TerrainMeshManager.cpp
Labels: sig/graphics-audio

#13345 Asset Processor - UUID manager
  Code/Framework/AzToolsFramework/AzToolsFramework/Metadata/MetadataManager.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Metadata/MetadataManager.h
  Code/Tools/AssetProcessor/assetprocessor_static_files.cmake
  Code/Tools/AssetProcessor/assetprocessor_test_files.cmake
  Code/Tools/AssetProcessor/native/tests/ApplicationManagerTests.cpp
  Code/Tools/AssetProcessor/native/tests/ApplicationManagerTests.h
  Code/Tools/AssetProcessor/native/tests/UuidManagerTests.cpp
  Code/Tools/AssetProcessor/native/utilities/ApplicationManager.h
  Code/Tools/AssetProcessor/native/utilities/ApplicationManagerBase.cpp
  Code/Tools/AssetProcessor/native/utilities/ApplicationManagerBase.h
  Code/Tools/AssetProcessor/native/utilities/BatchApplicationManager.cpp
  Code/Tools/AssetProcessor/native/utilities/GUIApplicationManager.cpp
  Code/Tools/AssetProcessor/native/utilities/UuidManager.cpp
  Code/Tools/AssetProcessor/native/utilities/UuidManager.h
Labels: feature/asset-pipeline, sig/content

#13579 Material Canvas: Moving common graph compiler classes and buses to atom tools framework
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphCompiler.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphCompilerNotificationBus.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Include/AtomToolsFramework/Graph/GraphCompilerRequestBus.h
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/AtomToolsFrameworkSystemComponent.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphCompiler.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/atomtoolsframework_files.cmake
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Document/MaterialGraphCompiler.h
  Gems/Atom/Tools/MaterialCanvas/Code/Source/MaterialCanvasApplication.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasViewportContent.cpp
  Gems/Atom/Tools/MaterialCanvas/Code/Source/Window/MaterialCanvasViewportContent.h
  Gems/Atom/Tools/MaterialCanvas/Code/materialcanvas_files.cmake
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompiler.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompiler.h
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompilerNotificationBus.h
  Gems/Atom/Tools/PassCanvas/Code/Source/Document/PassGraphCompilerRequestBus.h
  Gems/Atom/Tools/PassCanvas/Code/Source/PassCanvasApplication.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvasViewportContent.cpp
  Gems/Atom/Tools/PassCanvas/Code/Source/Window/PassCanvasViewportContent.h
  Gems/Atom/Tools/PassCanvas/Code/passcanvas_files.cmake
Labels: sig/content, sig/graphics-audio

#13588 Update code owners - TestCatalog h/cpp
  .github/CODEOWNERS
Labels: sig/content

#13606 Atom/RPI: Don't compute screen coverage if lod is fixed
  Gems/Atom/RPI/Code/Source/RPI.Public/Culling.cpp
Labels: sig/graphics-audio

#13587 Fix AssetManager AssetId upgrade code
  Code/Framework/AzCore/AzCore/Asset/AssetManager.cpp
  Code/Framework/AzCore/Tests/Asset/AssetManagerLoadingTests.cpp
  Code/Framework/AzCore/Tests/TestCatalog.cpp
  Code/Framework/AzCore/Tests/TestCatalog.h
Labels: feature/asset-pipeline, sig/content

#13537 Asset Processor - Expand usage of source asset reference
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.h
  Code/Tools/AssetProcessor/native/AssetDatabase/AssetDatabase.cpp
  Code/Tools/AssetProcessor/native/AssetDatabase/AssetDatabase.h
  Code/Tools/AssetProcessor/native/AssetManager/AssetCatalog.cpp
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.cpp
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.h
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetManagerTestingBase.cpp
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetProcessorManagerTest.cpp
  Code/Tools/AssetProcessor/native/utilities/assetUtils.cpp
Labels: feature/asset-pipeline, sig/content

#13605 Add VisiblePath variable to the Asset Browser
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Entries/AssetBrowserEntry.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Entries/AssetBrowserEntry.h
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Entries/FolderAssetBrowserEntry.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Entries/RootAssetBrowserEntry.cpp
Labels: sig/content, feature/asset-browser

#13490 EMFX: AnimGraph profiler to mainline
  Gems/EMotionFX/Code/CMakeLists.txt
  Gems/EMotionFX/Code/EMotionFX/Source/AnimGraphMotionNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/AnimGraphNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/AnimGraphNode.h
  Gems/EMotionFX/Code/EMotionFX/Source/AnimGraphNodeData.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/AnimGraphNodeData.h
  Gems/EMotionFX/Code/EMotionFX/Source/AnimGraphStateMachine.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendSpace1DNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendSpace2DNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTree.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeBlend2AdditiveNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeBlend2LegacyNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeBlend2Node.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeBlendNNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeMaskLegacyNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeMaskNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeMirrorPoseNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeMotionFrameNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreePoseSubtractNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreePoseSwitchNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Source/BlendTreeRagdollNode.cpp
  Gems/EMotionFX/Code/EMotionFX/Tools/EMotionStudio/Plugins/StandardPlugins/Source/AnimGraph/AnimGraphPlugin.h
  Gems/EMotionFX/Code/EMotionFX/Tools/EMotionStudio/Plugins/StandardPlugins/Source/AnimGraph/BlendGraphViewWidget.cpp
  Gems/EMotionFX/Code/EMotionFX/Tools/EMotionStudio/Plugins/StandardPlugins/Source/AnimGraph/BlendGraphViewWidget.h
  Gems/EMotionFX/Code/EMotionFX/Tools/EMotionStudio/Plugins/StandardPlugins/Source/AnimGraph/ContextMenu.cpp
  Gems/EMotionFX/Code/EMotionFX/Tools/EMotionStudio/Plugins/StandardPlugins/Source/AnimGraph/NodeGraph.cpp
Labels: feature/animation

#13565 Editor startup crash fix due to ordering of AssetCatalog initalization and asset ready messaging
  Code/Framework/AzFramework/AzFramework/Asset/AssetCatalog.cpp
Labels: feature/asset-pipeline, sig/content

#13546 Improve prefab delete API unit tests and add override tests
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabDeleteAsOverrideTests.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabDeleteTests.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestFixture.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestFixture.h
  Code/Framework/AzToolsFramework/Tests/aztoolsframeworktests_files.cmake
Labels: sig/content, feature/prefabs

#13365 Fixed Asset Browser: Moving an empty folder or moving the last item from a folder results in that folder being deleted
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserTreeView.cpp
  Code/Tools/AssetProcessor/native/AssetManager/AssetRequestHandler.cpp
  Code/Tools/AssetProcessor/native/AssetManager/SourceFileRelocator.cpp
  Code/Tools/AssetProcessor/native/AssetManager/SourceFileRelocator.h
  Code/Tools/AssetProcessor/native/tests/SourceFileRelocatorTests.cpp
  Code/Tools/AssetProcessor/native/utilities/ApplicationManagerBase.cpp
Labels: sig/content, feature/asset-browser

#13629 Prefab | Remove link id in source template
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabLoader.cpp
Labels: kind/bug, sig/content, feature/prefabs

#13578 Block override editing for instantiate, create and detach prefab
  AutomatedTesting/Gem/PythonTests/Prefab/tests/PrefabTestUtils.py
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabPublicHandler.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/PrefabIntegrationManager.cpp
Labels: sig/content, feature/prefabs

#13618 Asset Processor - Fix FromAssetId being set incorrectly on Job Dependencies
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.h
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.cpp
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetProcessorManagerTest.cpp
Labels: feature/asset-pipeline, sig/content

#13699 Editable breadcrumbs for asset browser
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.ui
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/BreadCrumbs.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/BreadCrumbs.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/BreadCrumbs.qss
  Code/Framework/AzQtComponents/AzQtComponents/Gallery/BreadCrumbsPage.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserTreeView.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserTreeView.h
Labels: sig/content, feature/asset-browser

#11713 Shiboken gem
  Code/Framework/AzQtComponents/AzQtComponents/Components/InteractiveWindowGeometryChanger.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/Style.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/Style.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/Titlebar.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/CardHeader.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/FileDialog.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/FileDialog.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/SpinBox.h
  Code/Framework/AzQtComponents/AzQtComponents/Components/WindowDecorationWrapper.h
Labels: sig/content, sig/core

#13282 Synchronizing ReplicationWindow and EntityReplicationManager updates
  Code/Framework/AzNetworking/AzNetworking/AutoGen/AutoPacketDispatcher_Inline.jinja
  Gems/Multiplayer/Code/Include/Multiplayer/NetworkEntity/EntityReplication/EntityReplicationManager.h
  Gems/Multiplayer/Code/Include/Multiplayer/ReplicationWindows/IReplicationWindow.h
  Gems/Multiplayer/Code/Source/Components/LocalPredictionPlayerInputComponent.cpp
  Gems/Multiplayer/Code/Source/Debug/MultiplayerDebugSystemComponent.cpp
  Gems/Multiplayer/Code/Source/NetworkEntity/EntityReplication/EntityReplicationManager.cpp
  Gems/Multiplayer/Code/Source/ReplicationWindows/NullReplicationWindow.cpp
  Gems/Multiplayer/Code/Source/ReplicationWindows/NullReplicationWindow.h
  Gems/Multiplayer/Code/Source/ReplicationWindows/ServerToClientReplicationWindow.cpp
  Gems/Multiplayer/Code/Source/ReplicationWindows/ServerToClientReplicationWindow.h
Labels: sig/network

#13662 Prefab | Remove link id in template DOM during prefab creation
  Code/Framework/AzToolsFramework/AzToolsFramework/Entity/PrefabEditorEntityOwnershipService.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabSystemComponent.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestDataUtils.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestFixture.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabTestFixture.h
Labels: kind/bug, sig/content, feature/prefabs

#13648 Reintroducing Simple Multiplayer Connection Editor Test
  AutomatedTesting/Gem/PythonTests/Multiplayer/CMakeLists.txt
  AutomatedTesting/Gem/PythonTests/Multiplayer/TestSuite_Main.py
  AutomatedTesting/Gem/PythonTests/Multiplayer/TestSuite_Sandbox.py
  AutomatedTesting/Gem/PythonTests/Multiplayer/tests/Multiplayer_BasicConnectivity_Connects.py
Labels: sig/network

#13776 Restore removal of 'SkipLinkIds' flag during template sanitization
  Code/Framework/AzToolsFramework/AzToolsFramework/Metadata/MetadataManager.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabLoader.cpp
Labels: kind/bug, sig/content, feature/prefabs

#13640 DomPrefixTree | Update APIs of attaching subtrees
  Code/Framework/AzCore/AzCore/DOM/DomPrefixTree.h
  Code/Framework/AzCore/AzCore/DOM/DomPrefixTree.inl
  Code/Framework/AzCore/Tests/DOM/DomPrefixTreeTests.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Link/Link.cpp
Labels: sig/content, sig/core

#13746 Asset Processor - Do not mark a file as failed in batch if it succeeds later
  Code/Tools/AssetProcessor/native/utilities/BatchApplicationManager.cpp
Labels: feature/asset-pipeline, sig/content

#13778 Fix entire file hierarchy being displayed in project centric builds
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Entries/RootAssetBrowserEntry.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Entries/RootAssetBrowserEntry.h
Labels: sig/content, feature/asset-browser

#13747 Shorten AWSI python test project name formulation
  AutomatedTesting/Gem/PythonTests/AWS/common/constants.py
  scripts/build/Platform/Linux/build_config.json
  scripts/build/Platform/Linux/deploy_cdk_applications.sh
  scripts/build/Platform/Linux/destroy_cdk_applications.sh
  scripts/build/Platform/Windows/build_config.json
  scripts/build/Platform/Windows/deploy_cdk_applications.cmd
  scripts/build/Platform/Windows/destroy_cdk_applications.cmd
Labels: feature/cloud-service, sig/network

#13613 Look Adjustment for Prefab Override
  Code/Framework/AzQtComponents/AzQtComponents/Images/Entity/entity_added_as_override.svg
  Code/Framework/AzQtComponents/AzQtComponents/Images/Entity/entity_modified_as_override.svg
  Code/Framework/AzQtComponents/AzQtComponents/Images/Level/level.svg
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Outliner/EntityOutlinerListModel.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Outliner/EntityOutlinerListModel.hxx
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Outliner/EntityOutlinerTreeView.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/Constants.h
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/LevelRootUiHandler.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/LevelRootUiHandler.h
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/PrefabUiHandler.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/PrefabUiHandler.h
  Code/Framework/AzToolsFramework/AzToolsFramework/aztoolsframework_files.cmake
Labels: sig/content, feature/prefabs

#13765 Materials reference the original material type
  Gems/Atom/RPI/Code/Include/Atom/RPI.Edit/Material/MaterialTypeSourceData.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Edit/Material/MaterialUtils.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialTypeAsset.h
  Gems/Atom/RPI/Code/Source/RPI.Builders/Material/MaterialBuilder.cpp
  Gems/Atom/RPI/Code/Source/RPI.Builders/Material/MaterialTypeBuilder.cpp
  Gems/Atom/RPI/Code/Source/RPI.Builders/Material/MaterialTypeBuilder.h
  Gems/Atom/RPI/Code/Source/RPI.Edit/Material/MaterialSourceData.cpp
  Gems/Atom/RPI/Code/Source/RPI.Edit/Material/MaterialUtils.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialSourceDataTests.cpp
Labels: sig/graphics-audio

#10056 AssetProcessor: allow to disable initial scan
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.cpp
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.h
  Code/Tools/AssetProcessor/native/ui/MainWindow.cpp
  Code/Tools/AssetProcessor/native/ui/MainWindow.ui
  Code/Tools/AssetProcessor/native/utilities/ApplicationManagerBase.cpp
  Code/Tools/AssetProcessor/native/utilities/ApplicationManagerBase.h
Labels: feature/asset-pipeline, sig/content, status/needs-ux-approval, needs-ux-design

#13838 Updated ImGuiPassTree to use ScriptableImGui for the color range sliders
  Gems/Atom/Utils/Code/Include/Atom/Utils/ImGuiPassTree.inl
Labels: sig/graphics-audio

#13826 [AWSCore] Fix loading of the resource mapping tool on Windows
  Gems/AWSCore/Code/Tools/ResourceMappingTool/.gitignore
  Gems/AWSCore/Code/Tools/ResourceMappingTool/README.md
  Gems/AWSCore/Code/Tools/ResourceMappingTool/requirements.txt
  Gems/AWSCore/Code/Tools/ResourceMappingTool/tests/unit/utils/test_environment_utils.py
  Gems/AWSCore/Code/Tools/ResourceMappingTool/utils/environment_utils.py
Labels: feature/cloud-service, platform/windows

#13852 Fixed Matrix3x4::GetInverseFull() and FBX processing.
  Code/Framework/AzCore/AzCore/Math/Matrix3x4.cpp
  Code/Framework/AzCore/Tests/Math/Matrix3x4Tests.cpp
  Gems/Atom/RPI/Code/Source/RPI.Builders/Model/ModelAssetBuilderComponent.cpp
Labels: sig/graphics-audio

#13861 Refactored StandardMultilayerPBR using $import to reduce duplication
  Gems/Atom/Feature/Common/Assets/Materials/Types/StandardMultilayerPBR.materialtype
  Gems/Atom/Feature/Common/Assets/Materials/Types/StandardMultilayerPBR_ClearCoatEnableFeature.lua
  Gems/Atom/Feature/Common/Assets/Materials/Types/StandardMultilayerPBR_Displacement.lua
  Gems/Atom/Feature/Common/Assets/Materials/Types/StandardMultilayerPBR_LayerEnable.lua
  Gems/Atom/Feature/Common/Assets/Materials/Types/StandardMultilayerPBR_LayerProperties.json
  Gems/Atom/Feature/Common/Code/Source/Material/ConvertEmissiveUnitFunctorSourceData.cpp
  Gems/Atom/Feature/Common/Code/Source/Material/Transform2DFunctorSourceData.cpp
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Material/MaterialNameContext.h
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialNameContext.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Material/MaterialVersionUpdate.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTypeAssetTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialTypeSourceDataTests.cpp
  Gems/Atom/RPI/Code/Tests/Material/MaterialVersionUpdateTests.cpp
  Gems/Atom/TestData/TestData/Materials/StandardMultilayerPbrTestCases/001_ManyFeatures.material
  Gems/Atom/TestData/TestData/Materials/StandardMultilayerPbrTestCases/002_ParallaxPdo.material
  Gems/Atom/TestData/TestData/Materials/StandardMultilayerPbrTestCases/005_UseDisplacement.material
  Gems/Atom/TestData/TestData/Materials/StandardMultilayerPbrTestCases/005_UseDisplacement_With_BlendMaskTexture.material
  Gems/Atom/TestData/TestData/Materials/StandardMultilayerPbrTestCases/005_UseDisplacement_With_BlendMaskTexture_AllSameHeight.material
  Gems/Atom/TestData/TestData/Materials/StandardMultilayerPbrTestCases/005_UseDisplacement_With_BlendMaskTexture_NoHeightmaps.material
Labels: sig/graphics-audio
