Repository o3de/o3de, pull requests merged in 2023-07, with the labels that each got.

#16284 Fix AB Inspector Image Previewer Scaling
  Code/Framework/AzQtComponents/AzQtComponents/Components/ExtendedLabel.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/ExtendedLabel.h
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/AssetBrowserEntityInspectorWidget.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/AssetBrowserEntityInspectorWidget.h
Labels: sig/content, feature/asset-browser

#16349 Fix second scroll bar in AB
  AutomatedTesting/Gem/PythonTests/editor/EditorScripts/AssetBrowser_SearchFiltering.py
  Code/Framework/AzQtComponents/AzQtComponents/Components/FilteredSearchWidget.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/FilteredSearchWidget.h
Labels: sig/content, feature/asset-browser

#16321 Added ArticulationLink to services provided by ArticulationLinkComponent
  Gems/PhysX/Code/Source/ArticulationLinkComponent.cpp
  Gems/PhysX/Code/Source/EditorArticulationLinkComponent.cpp
Labels: sig/simulation, feature/robotics

#16307 Add getter for all simulated body handles
  Gems/PhysX/Code/Source/ArticulationLinkComponent.cpp
  Gems/PhysX/Code/Source/ArticulationLinkComponent.h
Labels: sig/simulation

#16384 Fix AB's Hide Engine Toggle
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/Filter.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/Filter.h
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/SearchWidget.cpp
Labels: sig/content, feature/asset-browser
