Repository o3de/o3de, pull requests merged in 2023-04, with the labels that each got.

#15506 Material Canvas: Move check for invalid render pipeline asset ID so that it's handled on all code paths
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/EntityPreviewViewport/EntityPreviewViewportScene.cpp
Labels: sig/content, sig/graphics-audio

#15508 Material Canvas: Resetting graph compiler data between state transitions
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphCompiler.cpp
  Gems/Atom/Tools/AtomToolsFramework/Code/Source/Graph/GraphDocument.cpp
Labels: sig/content, sig/graphics-audio

#15513 Material Canvas: Fixed multiple issues with node resizing
  Gems/GraphCanvas/Code/Source/Components/NodePropertyDisplays/StringNodePropertyDisplay.cpp
  Gems/GraphCanvas/Code/Source/Components/NodePropertyDisplays/VectorNodePropertyDisplay.cpp
  Gems/GraphModel/Code/Include/GraphModel/Integration/GraphController.h
  Gems/GraphModel/Code/Source/Integration/GraphController.cpp
Labels: sig/content, sig/graphics-audio

#15528 Fixed the intermittent timeouts when connecting to editor server
  Gems/Multiplayer/Code/Include/Multiplayer/MultiplayerEditorServerBus.h
  Gems/Multiplayer/Code/Source/Debug/MultiplayerConnectionViewportMessageSystemComponent.cpp
  Gems/Multiplayer/Code/Source/Debug/MultiplayerConnectionViewportMessageSystemComponent.h
  Gems/Multiplayer/Code/Source/Editor/MultiplayerEditorAutomation.cpp
  Gems/Multiplayer/Code/Source/Editor/MultiplayerEditorAutomation.h
  Gems/Multiplayer/Code/Source/Editor/MultiplayerEditorSystemComponent.cpp
Labels: sig/network

#15518 Standardized path resolution for wildcard product dependencies.
  Code/Tools/AssetProcessor/native/AssetManager/PathDependencyManager.cpp
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetProcessorManagerTest.cpp
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetProcessorManagerTest.h
Labels: feature/asset-pipeline

#15525 When an asset in a seed file is no longer available, an error icon and error message is now displayed instead of a blank line.
  Code/Tools/AssetBundler/source/models/SeedListTableModel.cpp
  Code/Tools/AssetBundler/source/models/SeedListTableModel.h
Labels: feature/asset-pipeline

#15527 Scene Builder - Fix handling of invalid scene file names
  Gems/SceneProcessing/Code/Source/Generation/Components/MeshOptimizer/MeshOptimizerComponent.cpp
Labels: feature/asset-pipeline, sig/content

#15502 Asset Processor - Cherry Pick Scan Skipping Fix from Dev
  Code/Tools/AssetProcessor/assetprocessor_test_files.cmake
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.cpp
  Code/Tools/AssetProcessor/native/tests/ApplicationManagerTests.cpp
  Code/Tools/AssetProcessor/native/tests/BuilderManagerTests.cpp
  Code/Tools/AssetProcessor/native/tests/PathDependencyManagerTests.cpp
  Code/Tools/AssetProcessor/native/tests/assetmanager/InitialScanSkippingTests.cpp
Labels: feature/asset-pipeline, sig/content

#15505 Fix lag when switching views in the Asset Browser
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/SearchWidget.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserTreeView.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserTreeView.h
Labels: sig/content, feature/asset-browser

#15555 Asset processor now properly saves the removal of asset connections
  Code/Tools/AssetProcessor/native/connection/connectionManager.cpp
Labels: feature/asset-pipeline

#15545 Removing stale automated tests
  AutomatedTesting/Gem/PythonTests/assetpipeline/asset_bundler_tests/asset_bundler_batch_tests.py
Labels: feature/asset-pipeline

#15551 Added "OrderOnly" job dependency.
  Code/Tools/AssetProcessor/AssetBuilderSDK/AssetBuilderSDK/AssetBuilderSDK.cpp
  Code/Tools/AssetProcessor/AssetBuilderSDK/AssetBuilderSDK/AssetBuilderSDK.h
  Code/Tools/AssetProcessor/native/resourcecompiler/RCQueueSortModel.cpp
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetProcessorManagerTest.cpp
  Code/Tools/AssetProcessor/native/tests/utilities/assetUtilsTest.cpp
  Code/Tools/AssetProcessor/native/utilities/assetUtils.cpp
  Gems/Atom/Asset/Shader/Code/Source/Editor/AzslShaderBuilderSystemComponent.cpp
  Gems/Atom/Asset/Shader/Code/Source/Editor/ShaderVariantAssetBuilder.cpp
Labels: feature/asset-pipeline

#15550 Fix add-component crashes for disabled and pending components
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/DocumentPropertyEditor/PrefabComponentAdapter.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/DocumentPropertyEditor/PrefabComponentAdapter.h
  Code/Framework/AzToolsFramework/AzToolsFramework/ToolsComponents/EditorDisabledCompositionBus.h
  Code/Framework/AzToolsFramework/AzToolsFramework/ToolsComponents/EditorDisabledCompositionComponent.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/ToolsComponents/EditorDisabledCompositionComponent.h
  Code/Framework/AzToolsFramework/AzToolsFramework/ToolsComponents/EditorPendingCompositionBus.h
  Code/Framework/AzToolsFramework/AzToolsFramework/ToolsComponents/EditorPendingCompositionComponent.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/ToolsComponents/EditorPendingCompositionComponent.h
  Code/Framework/AzToolsFramework/Tests/ComponentModeTestFixture.cpp
  Code/Framework/AzToolsFramework/Tests/ComponentModeTestFixture.h
Labels: sig/content, feature/prefabs

#15559 Fix CfnBuild.StorageLocationProperty in gamelift_stack
  Gems/AWSGameLift/cdk/aws_gamelift/gamelift_stack.py
Labels: feature/cloud-service, sig/network

#15571 Switch trace processing to use threads for editor/server connection without impacting AP or asset builders
  Code/Framework/AzFramework/AzFramework/Process/ProcessCommunicator.h
  Code/Framework/AzFramework/AzFramework/Process/ProcessCommunicatorTracePrinter.cpp
  Code/Framework/AzFramework/AzFramework/Process/ProcessCommunicatorTracePrinter.h
  Code/Tools/AssetProcessor/native/utilities/Builder.cpp
  Gems/Multiplayer/Code/Source/Editor/MultiplayerEditorSystemComponent.cpp
Labels: sig/core, sig/network

#15573 Asset builder details are now moved to the details tab of the asset builder inspector.
  Code/Tools/AssetProcessor/native/ui/MainWindow.cpp
  Code/Tools/AssetProcessor/native/ui/MainWindow.ui
Labels: feature/asset-pipeline

#14119 Allow to exclude actors from reflections
  Gems/EMotionFX/Code/Source/Integration/Components/ActorComponent.cpp
  Gems/EMotionFX/Code/Source/Integration/Components/ActorComponent.h
  Gems/EMotionFX/Code/Source/Integration/Editor/Components/EditorActorComponent.cpp
  Gems/EMotionFX/Code/Source/Integration/Editor/Components/EditorActorComponent.h
  Gems/EMotionFX/Code/Source/Integration/Rendering/RenderActorInstance.h
  Gems/EMotionFX/Code/Tests/RenderBackendManagerTests.cpp
Labels: sig/graphics-audio

#15570 Improve non-override property edit undo node used in DPE inspector
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/DocumentPropertyEditor/PrefabComponentAdapter.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Undo/PrefabUndoComponentPropertyEdit.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Undo/PrefabUndoComponentPropertyEdit.h
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Undo/PrefabUndoComponentPropertyOverride.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Undo/PrefabUndoComponentPropertyOverride.h
Labels: sig/content, feature/prefabs

#15619 Thumbnailview Context Menu Fixes
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/AssetFolderThumbnailView.cpp
  Code/Framework/AzQtComponents/AzQtComponents/Components/Widgets/AssetFolderThumbnailView.h
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserThumbnailView.cpp
Labels: sig/content, feature/asset-browser

#15592 Remove m_buildTimeStamp from ShaderAsset and ShaderVariantAsset
  Gems/Atom/Asset/Shader/Code/Source/Editor/AzslShaderBuilderSystemComponent.cpp
  Gems/Atom/Asset/Shader/Code/Source/Editor/ShaderAssetBuilder.cpp
  Gems/Atom/Asset/Shader/Code/Source/Editor/ShaderVariantAssetBuilder.cpp
  Gems/Atom/Asset/Shader/Code/Source/Editor/ShaderVariantAssetBuilder.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Public/Shader/Shader.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Shader/ShaderAsset.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Shader/ShaderAssetCreator.h
  Gems/Atom/RPI/Code/Include/Atom/RPI.Reflect/Shader/ShaderVariantAsset.h
  Gems/Atom/RPI/Code/Source/RPI.Edit/Shader/ShaderVariantAssetCreator.cpp
  Gems/Atom/RPI/Code/Source/RPI.Public/Shader/Shader.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Shader/ShaderAsset.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Shader/ShaderAssetCreator.cpp
  Gems/Atom/RPI/Code/Source/RPI.Reflect/Shader/ShaderVariantAsset.cpp
  Gems/Atom/RPI/Code/Tests/Common/ShaderAssetTestUtils.cpp
  Gems/Atom/RPI/Code/Tests/Shader/ShaderTests.cpp
Labels: feature/asset-pipeline

#15411 Project Manager Gem Version Support
  Code/Tools/ProjectManager/Resources/Downloaded.svg
  Code/Tools/ProjectManager/Resources/Info.svg
  Code/Tools/ProjectManager/Resources/ProjectManager.qrc
  Code/Tools/ProjectManager/Resources/ProjectManager.qss
  Code/Tools/ProjectManager/Resources/Update.svg
  Code/Tools/ProjectManager/Source/AddRemoteProjectDialog.cpp
  Code/Tools/ProjectManager/Source/AddRemoteTemplateDialog.cpp
  Code/Tools/ProjectManager/Source/CreateAGemScreen.cpp
  Code/Tools/ProjectManager/Source/CreateProjectCtrl.cpp
  Code/Tools/ProjectManager/Source/DownloadRemoteTemplateDialog.cpp
  Code/Tools/ProjectManager/Source/ExternalLinkDialog.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemCatalogHeaderWidget.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemCatalogHeaderWidget.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemCatalogScreen.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemCatalogScreen.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemFilterWidget.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemFilterWidget.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemInfo.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemInfo.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemInspector.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemInspector.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemItemDelegate.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemItemDelegate.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemModel.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemModel.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemRequirementDelegate.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemRequirementDialog.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemRequirementFilterProxyModel.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemSortFilterProxyModel.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemSortFilterProxyModel.h
  Code/Tools/ProjectManager/Source/GemCatalog/GemUninstallDialog.cpp
  Code/Tools/ProjectManager/Source/GemCatalog/GemUpdateDialog.cpp
  Code/Tools/ProjectManager/Source/GemRepo/GemRepoAddDialog.cpp
  Code/Tools/ProjectManager/Source/GemRepo/GemRepoScreen.cpp
  Code/Tools/ProjectManager/Source/GemsSubWidget.cpp
  Code/Tools/ProjectManager/Source/GemsSubWidget.h
  Code/Tools/ProjectManager/Source/ProjectButtonWidget.cpp
  Code/Tools/ProjectManager/Source/ProjectGemCatalogScreen.cpp
  Code/Tools/ProjectManager/Source/ProjectUtils.cpp
  Code/Tools/ProjectManager/Source/ProjectUtils.h
  Code/Tools/ProjectManager/Source/PythonBindings.cpp
  Code/Tools/ProjectManager/Source/PythonBindings.h
  Code/Tools/ProjectManager/Source/PythonBindingsInterface.h
  Code/Tools/ProjectManager/Source/UpdateProjectCtrl.cpp
  Code/Tools/ProjectManager/tests/MockPythonBindings.h
  scripts/o3de/o3de/compatibility.py
  scripts/o3de/o3de/disable_gem.py
  scripts/o3de/o3de/download.py
  scripts/o3de/o3de/manifest.py
  scripts/o3de/o3de/project_manager_interface.py
  scripts/o3de/o3de/register.py
  scripts/o3de/o3de/repo.py
  scripts/o3de/o3de/utils.py
  scripts/o3de/tests/test_disable_gem.py
  scripts/o3de/tests/test_download.py
Labels: status/ux-approved

#15584 Added a tab to Asset Processor to show the asset formats available for relocation with sidecar meta files.
  Code/Tools/AssetProcessor/assetprocessor_gui_files.cmake
  Code/Tools/AssetProcessor/native/ui/EnabledRelocationTypesModel.cpp
  Code/Tools/AssetProcessor/native/ui/EnabledRelocationTypesModel.h
  Code/Tools/AssetProcessor/native/ui/MainWindow.cpp
  Code/Tools/AssetProcessor/native/ui/MainWindow.h
  Code/Tools/AssetProcessor/native/ui/MainWindow.ui
  Code/Tools/AssetProcessor/native/ui/style/AssetProcessor.qss
  Code/Tools/AssetProcessor/native/utilities/UuidManager.cpp
  Code/Tools/AssetProcessor/native/utilities/UuidManager.h
Labels: feature/asset-pipeline

#15662 Fix handler pool issues for multiple-DPE case
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/DocumentPropertyEditor/DocumentPropertyEditor.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/DocumentPropertyEditor/DocumentPropertyEditor.h
Labels: feature/editor, sig/content

#15658 Asset Processor - Replace FixedMaxPath with Path in SourceAssetReference
  Code/Tools/AssetProcessor/native/AssetManager/SourceAssetReference.cpp
  Code/Tools/AssetProcessor/native/AssetManager/SourceAssetReference.h
Labels: feature/asset-pipeline, sig/content

#15630 Asset Processor - Add retry logic for jobs that conflicted due to same outputs
  AutomatedTesting/Gem/PythonTests/assetpipeline/asset_processor_tests/asset_processor_batch_tests.py
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.h
  Code/Tools/AssetProcessor/native/AssetDatabase/AssetDatabase.cpp
  Code/Tools/AssetProcessor/native/AssetDatabase/AssetDatabase.h
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.cpp
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.h
  Code/Tools/AssetProcessor/native/assetprocessor.h
Labels: feature/asset-pipeline, sig/content

#15663 Asset Processor - Updated missing dependency scanner to use the job system.
  Code/Tools/AssetProcessor/native/ui/ProductAssetDetailsPanel.cpp
Labels: feature/asset-pipeline, sig/content

#15677 Asset Processor - Improved performance loading assets tab the first time
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetDatabase/AssetDatabaseConnection.h
  Code/Tools/AssetProcessor/native/AssetDatabase/AssetDatabase.cpp
  Code/Tools/AssetProcessor/native/ui/ProductAssetTreeModel.cpp
  Code/Tools/AssetProcessor/native/ui/ProductAssetTreeModel.h
Labels: feature/asset-pipeline, sig/content

#15679 Prefab/DPE: Set the RevertOverride message handler correctly
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/DocumentPropertyEditor/PrefabComponentAdapter.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/Overrides/PrefabInspectorOverrideTests.cpp
Labels: sig/content, feature/prefabs

#15692 Cherry-Pick: Fix handler pool issues for multiple-DPE case
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/DocumentPropertyEditor/DocumentPropertyEditor.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/DocumentPropertyEditor/DocumentPropertyEditor.h
Labels: feature/editor, sig/content

#15521 Multiplayer: Don't Attempt Player Spawn on Level Load if Not in Multiplayer Mode
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.cpp
Labels: sig/network

#15688 Deprecate Multiplayer "Session" Events
  Gems/AWSGameLift/Code/AWSGameLiftServer/Source/AWSGameLiftServerSystemComponent.cpp
  Gems/Multiplayer/Code/Include/Multiplayer/IMultiplayer.h
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.cpp
  Gems/Multiplayer/Code/Source/MultiplayerSystemComponent.h
  Gems/Multiplayer/Code/Tests/MultiplayerSystemTests.cpp
Labels: sig/network

#15706 Right click job -> go to builder
  Code/Tools/AssetProcessor/native/ui/BuilderListModel.cpp
  Code/Tools/AssetProcessor/native/ui/BuilderListModel.h
  Code/Tools/AssetProcessor/native/ui/MainWindow.cpp
Labels: feature/asset-pipeline

#15709 Product details page is now tabbed, like other views in the Asset Processor.
  Code/Tools/AssetProcessor/native/ui/ProductAssetDetailsPanel.cpp
  Code/Tools/AssetProcessor/native/ui/ProductAssetDetailsPanel.h
  Code/Tools/AssetProcessor/native/ui/ProductAssetDetailsPanel.ui
Labels: feature/asset-pipeline

#15675 EXCEPTION REQUEST: Adds the ability to generate UVs automatically during mesh import
  Code/Tools/SceneAPI/SceneData/GraphData/MeshVertexUVData.cpp
  Code/Tools/SceneAPI/SceneData/GraphData/MeshVertexUVData.h
  Code/Tools/SceneAPI/SceneData/ManifestMetaInfoHandler.cpp
  Code/Tools/SceneAPI/SceneData/ReflectionRegistrar.cpp
  Code/Tools/SceneAPI/SceneData/Rules/UVsRule.cpp
  Code/Tools/SceneAPI/SceneData/Rules/UVsRule.h
  Code/Tools/SceneAPI/SceneData/SceneData_files.cmake
  Gems/SceneProcessing/Code/Source/Generation/Components/TangentGenerator/TangentPreExportComponent.cpp
  Gems/SceneProcessing/Code/Source/Generation/Components/TangentGenerator/TangentPreExportComponent.h
  Gems/SceneProcessing/Code/Source/Generation/Components/UVsGenerator/UVsGenerateComponent.cpp
  Gems/SceneProcessing/Code/Source/Generation/Components/UVsGenerator/UVsGenerateComponent.h
  Gems/SceneProcessing/Code/Source/Generation/Components/UVsGenerator/UVsGenerators/SphereMappingUVsGenerator.cpp
  Gems/SceneProcessing/Code/Source/Generation/Components/UVsGenerator/UVsGenerators/SphereMappingUVsGenerator.h
  Gems/SceneProcessing/Code/Source/Generation/Components/UVsGenerator/UVsPreExportComponent.cpp
  Gems/SceneProcessing/Code/Source/Generation/Components/UVsGenerator/UVsPreExportComponent.h
  Gems/SceneProcessing/Code/Source/SceneProcessingModule.cpp
  Gems/SceneProcessing/Code/sceneprocessing_editor_static_files.cmake
  Registry/sceneassetimporter.setreg
Labels: status/ux-approved, feature/scene-pipeline

#15728 Fix decal crash #15190 (Stabilization request)
  Gems/Atom/Feature/Common/Code/Source/Decals/DecalTextureArrayFeatureProcessor.cpp
Labels: priority/blocker, status/ux-approved

#15762 RayTracing Callable Shader support
  Gems/Atom/RHI/Code/Include/Atom/RHI/RayTracingPipelineState.h
  Gems/Atom/RHI/Code/Include/Atom/RHI/RayTracingShaderTable.h
  Gems/Atom/RHI/Code/Source/RHI/RayTracingPipelineState.cpp
  Gems/Atom/RHI/Code/Source/RHI/RayTracingShaderTable.cpp
  Gems/Atom/RHI/DX12/Code/Source/RHI/CommandList.cpp
  Gems/Atom/RHI/DX12/Code/Source/RHI/RayTracingShaderTable.cpp
  Gems/Atom/RHI/DX12/Code/Source/RHI/RayTracingShaderTable.h
  Gems/Atom/RHI/Vulkan/Code/Source/RHI/CommandList.cpp
  Gems/Atom/RHI/Vulkan/Code/Source/RHI/RayTracingShaderTable.cpp
  Gems/Atom/RHI/Vulkan/Code/Source/RHI/RayTracingShaderTable.h
Labels: sig/graphics-audio

#15770 DiffuseProbeGrid optimizations for transparencies
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/DiffuseProbeGridRayTracingAnyHit.precompiledshader
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracing.azshader
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracing_dx12_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracing_null_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracing_vulkan_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracinganyhit.azshader
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracinganyhit_dx12_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracinganyhit_null_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracinganyhit_vulkan_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingclosesthit.azshader
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingclosesthit_dx12_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingclosesthit_null_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingclosesthit_vulkan_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingmiss.azshader
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingmiss_dx12_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingmiss_null_0.azshadervariant
  Gems/DiffuseProbeGrid/Assets/Shaders/DiffuseGlobalIllumination/diffuseprobegridraytracingmiss_vulkan_0.azshadervariant
  Gems/DiffuseProbeGrid/Code/Source/Components/DiffuseProbeGridComponentController.h
  Gems/DiffuseProbeGrid/Code/Source/EditorComponents/EditorDiffuseProbeGridComponent.cpp
  Gems/DiffuseProbeGrid/Code/Source/Render/DiffuseProbeGridRayTracingPass.cpp
  Gems/DiffuseProbeGrid/Code/Source/Render/DiffuseProbeGridRayTracingPass.h
Labels: sig/graphics-audio

#15749 Prefab/ActionManager: Fix error message in various prefab operations
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabPublicHandler.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabPublicHandler.h
  Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/PrefabPublicInterface.h
  Code/Framework/AzToolsFramework/AzToolsFramework/UI/Prefab/PrefabIntegrationManager.cpp
Labels: sig/content, feature/prefabs

#15783 Fix light accumulation in SSR raytraced fallback
  Gems/Atom/Feature/Common/Assets/Shaders/Reflections/ReflectionScreenSpaceRayTracingCommon.azsli
Labels: sig/graphics-audio

#15716 Asset Processor - Optimize initial startup time
  Code/Tools/AssetProcessor/native/AssetManager/FileStateCache.cpp
  Code/Tools/AssetProcessor/native/AssetManager/FileStateCache.h
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.cpp
  Code/Tools/AssetProcessor/native/AssetManager/assetProcessorManager.h
  Code/Tools/AssetProcessor/native/tests/assetmanager/AssetProcessorManagerTest.cpp
  Code/Tools/AssetProcessor/native/utilities/PlatformConfiguration.cpp
  Code/Tools/AssetProcessor/native/utilities/PlatformConfiguration.h
Labels: feature/asset-pipeline, sig/content

#15657 Asset Processor - Fixed performance issue displaying assets with hundreds of dependencies
  Code/Tools/AssetProcessor/assetprocessor_gui_files.cmake
  Code/Tools/AssetProcessor/native/ui/GoToButtonDelegate.cpp
  Code/Tools/AssetProcessor/native/ui/GoToButtonDelegate.h
  Code/Tools/AssetProcessor/native/ui/ProductAssetDetailsPanel.cpp
  Code/Tools/AssetProcessor/native/ui/SourceAssetDetailsPanel.cpp
Labels: feature/asset-pipeline, sig/content

#15769 Fix Hide Engine Assets Filter
  Code/Editor/AzAssetBrowser/AzAssetBrowserWindow.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/Filter.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/Filter.h
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/SearchWidget.cpp
  Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Search/SearchWidget.h
Labels: sig/content, feature/asset-browser

#15795 Fix SRGConstant layout mismatch causing gpu mem stomp
  Gems/Atom/RPI/Code/Source/RPI.Public/Shader/ShaderResourceGroup.cpp
  Gems/AtomLyIntegration/EditorModeFeedback/Assets/Shaders/EditorModeBlur.azsl
  Gems/AtomLyIntegration/EditorModeFeedback/Assets/Shaders/EditorModeCommon.azsli
  Gems/AtomLyIntegration/EditorModeFeedback/Assets/Shaders/EditorModeDepthTransition.azsli
  Gems/AtomLyIntegration/EditorModeFeedback/Assets/Shaders/EditorModeDesaturation.azsl
  Gems/AtomLyIntegration/EditorModeFeedback/Assets/Shaders/EditorModeOutline.azsl
  Gems/AtomLyIntegration/EditorModeFeedback/Assets/Shaders/EditorModeTint.azsl
Labels: status/ux-approved

#15485 New fixture and unit tests for property override undo node
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabUndoComponentPropertyOverrideTests.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabUndoComponentPropertyTestFixture.cpp
  Code/Framework/AzToolsFramework/Tests/Prefab/PrefabUndoComponentPropertyTestFixture.h
  Code/Framework/AzToolsFramework/Tests/aztoolsframeworktests_files.cmake
Labels: sig/content, feature/prefabs

#15818 bugfix(Whitebox): correctly save file with extension *.wbm
  Gems/WhiteBox/Code/Source/EditorWhiteBoxComponent.cpp
Labels: feature/whitebox, kind/bug
